@use 'sass:math';
// @import '~bootstrap/scss/variables';

$layout-width-desktop: 1440;
$layout-height-desktop: 900;
$layout-width-mobile: 320;
$layout-height-mobile: 664;
$layout-width-tablet: 768;
$layout-height-tablet: 1024;

$dw: div(100vw, $layout-width-desktop);
$dh: div(100vh, $layout-width-desktop);
$mw: div(100vw, $layout-width-mobile);
$mh: div(100vh, $layout-height-mobile);

$text-color:#181818;
$text-color-light:#99A2AD;
$text-color-link:#188BCE;

$button-color-primary:#006299;
$button-color-success:#37A326;
$button-color-default:#EFF1F2;