@import 'vars';

// @import 'bootstrap';
@import 'dynamic-properties';
@import 'fonts';
@import 'modal';
@import 'transitions';

:root {
  --real100Vh: 100vh;
  --dw: calc(100vw / #{$layout-width-desktop});
  --dh: calc(100vh / #{$layout-height-desktop});
  --mw: calc(100vw / #{$layout-width-mobile});
  --mh: calc(100vh / #{$layout-height-mobile});
}

* {
  color: $text-color default;
  scrollbar-width: 5px;
  scrollbar-color: #99a2ad #fff;
}

*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 11px;
}

*::-webkit-scrollbar-thumb {
  background-color: #99a2ad;
  border-radius: 11px;
}

a {
  color: $text-color-link;
}

.full-width {
  display: block;
  width: 100%;
}

.text {
  &--light {
    color: $text-color-light !important;
  }

  &--default {
    color: $text-color !important;
  }

  &--small {
    font-size: 0.875rem;
  }

  &--x-small {
    font-size: 0.75rem;
  }

  &--normal {
    font-size: 1rem;
    line-height: 1.3;
  }

  &--enlarged {
    font-size: 1.13rem;
    line-height: 1.4;
  }
}

.border {
  &--normal {
    border-width: 2px !important;
  }
}

.cursor {
  &--pointer {
    cursor: pointer;
  }
}

.comment-field {
  &.v-input {
    font-size: 1rem !important;

    &.v-input--dense {
      font-size: 0.75rem !important;
    }
  }

  .v-input__slot {
    min-height: 32px !important;
    padding: 0 8px !important;
  }

  &.v-input--dense {
    .v-input__slot {
      min-height: 26px !important;
    }
  }

  fieldset {
    background: #fff !important;
  }

  input {
    padding: 0 !important;
  }
}

.custom-field {
  &.v-text-field--outlined {
    fieldset {
      border-color: $text-color-light !important;
    }

    &.v-input--is-focused {
      fieldset {
        border-color: $text-color !important;
      }
    }
  }
}

.v-avatar {
  color: #fff;
}

.v-pagination {
  &__item {
    width: 44px !important;
    height: 44px !important;
    background: $button-color-default !important;
    box-shadow: none !important;
  }

  &__navigation {
    width: 44px !important;
    height: 44px !important;
    background: #fff !important;
    box-shadow: none !important;
  }
}

.v-chip {
  &.theme--light.v-chip:not(.v-chip--active) {
    background: #eff1f2;
  }
}

.v-input--checkbox {
  .v-input--selection-controls__input {
    color: $text-color-light;
  }
}

.v-text-field {
  &__details {
    padding: 0 !important;
  }
}

// требует явно заданного width
.truncate-text {
  width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.position {
  &--relative {
    position: relative;
  }

  &--absolute {
    position: absolute;
  }

  &--fixed {
    position: fixed;
  }
}

.bg {
  &--gray {
    background: $light-gray !important;
  }
}

@media (max-width: map-get($grid-breakpoints, 'sm')) {
  html {
    font-size: 14px !important;
  }

  .v-input {
    font-size: 1rem !important;
    line-height: 1 !important;

    // &__slot{
    //   padding: 0 20px !important;
    // }

    .v-label {
      font-size: 1rem !important;
      line-height: 1.14 !important;
    }
  }

  .v-text-field.v-text-field--enclosed:not(.v-text-field--rounded)
    > .v-input__control
    > .v-input__slot {
    padding: 0 20px !important;
  }

  .v-input--checkbox {
    .v-input--selection-controls__input .v-icon {
      font-size: 18px !important;
    }
  }

  .v-messages {
    &__message {
      font-size: 10px !important;
    }
  }
}
